<div>
  <span>Unidade:</span>
  <ul class="list-inline">
    <li class="list-inline-item" (click)="updateUnit(unitsEnum.Metric)">
      <a class="badge" [ngClass]="unit === unitsEnum.Metric ? 'badge-primary' : 'badge-dark'">˚C</a>
    </li>
    <li class="list-inline-item" (click)="updateUnit(unitsEnum.Imperial)">
      <a class="badge" [ngClass]="(unit$ | async) === unitsEnum.Imperial ? 'badge-primary' : 'badge-dark'">˚F</a>
    </li>
    <li class="list-inline-item" (click)="updateUnit(unitsEnum.SI)">
      <a class="badge" [ngClass]="(unit$ | async) === unitsEnum.SI ? 'badge-primary' : 'badge-dark'">K</a>
    </li>
  </ul>
</div>
