div {
  display: flex;
  align-items: center;
  color: white;

  > span {
    margin-right: 8px;
  }

  > ul {
    margin: 0;

    > li {
      cursor: pointer;

      > .badge {
        padding: 0.5em;
        font-size: 1em;
        color: white;
      }
    }
  }
}