<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">JV Weather</a>

  <div id="navbar-portal-outlet"></div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 bg-light border-right">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookmarks">Favoritos</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
